*.cpython-311*
*.pyc
*.svg
*.rtf
*.png
*.joblib
.venv/
src/NAM_testing/Testing_NAM/
.swp
**data/
*.pickle
*.lock
.DS_Store
*.xlsx
*.csv
*.zip
*.pdf
Datasets/
output/
Schriftliche_Abgabe/*
!Schriftliche_Abgabe/main.tex
!Schriftliche_Abgabe/sample.bib
!.venv/lib/python3.11/site-packages/nam/*
