src/NAM_testing/Testing_NAM/
.swp
**data/
.venv/
*.pickle
*.lock
.DS_Store
*.xlsx
*.csv
*.zip
*.pdf
Datasets/
output/
Schriftliche_Abgabe/*
!Schriftliche_Abgabe/main.tex
!Schriftliche_Abgabe/sample.bib
